# problem 3.24

In [82]:
words=['see','read','secret','look','secret']
for i in words:
    if i!='secret':
        print(i,end='\t')
    else:
        print()

see	read
look

# problem 3.25

In [37]:
names=['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
for word in names:
    if word[0] >= "A" and word[0] <= "M":
        print(word)

Ellie
Gavin

# problem 3.26

In [2]:
lst=[2,6,7,5,4,8,9]
print(lst[0])
print(lst[-1])

2
9

# problem 3.27

In [4]:
integer=int(input("enter integer: "))
for i in range(0,11):
    k=i*integer
    print(k,end='\t')

enter integer: 5
0	5	10	15	20	25	30	35	40	45	50

# problem 3.28

In [19]:
integer=int(input("enter integer: "))
for i in range(0,11):
    if i*i==25(:
        print()
    else:
        l=i*i
        print(l,end='\t'))

enter integer: 5
0	1	4	9	16
36	49	64	81	100

# problem 3.29

In [38]:
integer=int(input("enter integer: "))
for i in range(0,20):
    if i%integer==0:
        print(i,end='\t')
    else:
        print()

enter integer: 5
0



5



10



15

# problem 3.30

In [13]:
n1=eval(input("enter first number: "))
n2=eval(input("enter second number: "))
n3=eval(input("enter third number: "))
n4= eval(input("enter fourth number: "))
l=(n1+n2+n3)/3
if l==n4:
    print("equal")
else:
    print("not equal")

enter first number: 4.5
enter second number: 3
enter third number: 3
enter fourth number: 3.5
equal

# problem 3.31

In [5]:
from math import sqrt 
R=8
x=0
y=0
x1=eval(input("enter coordinate of x: "))
y1=eval(input("enter coordinate of y: "))
x1==(-10,10)
y1==(-10,10)
D = sqrt((x1 - x)^2 + (y1 - y)^2)
if D<=R:
    print("it is in!")
else:
    print("out!")

enter coordinate of x: 5
enter coordinate of y: 6
it is in!

# problem 3.32

In [6]:
in_t=34
print(in_t/2)
print(in_t*2)
print(in_t-2)
print(in_t%2)

17.0
68
32
0

# problem 3.33

In [11]:
def reverse_string(my_str):
    print(''.join(reversed(my_str)))
reverse_string("set")

tes

# problem 3.34

In [12]:
def pay(wage,hours):
    if hours>40:
        print(wage*1.5*hours)
    else:
        print(wage*hours)
pay(10,45)

675.0

# problem 3.35

In [13]:
def prob(n):
    return 2**(-n)
prob(2)

0.25

# problem 3.36

In [78]:
def in_t(integer):
    Reverse = 0    
    while(integer > 0):    
        Reminder = integer %10   
        Reverse = (Reverse *10) + Reminder    
        integer = integer //10    
        print("\n Reverse of entered number is = %d" %Reverse) 
in_t(1234)

 Reverse of entered number is = 4

 Reverse of entered number is = 43

 Reverse of entered number is = 432

 Reverse of entered number is = 4321

# problem 3.37

In [20]:
from math import sqrt
def points(x1,x2,y1,y2):
    slope=y2-y1/x2-x1
    D=sqrt((x2-x1)**2 + (y2-y1)**2)
    print("The slope is",slope,"the distance is",D)
points(6,5,7,3)

The slope is -4.4 the distance is 4.123105625617661

# problem 3.38

In [36]:
def abbreviation(day):
    print(''.join(day[0:2]))
abbreviation("tuesday")

tu

# problem 3.39

In [39]:
from math import sqrt
def collision(x1,y1,r1,x2,y2,r2):
        if sqrt(sqrt(x2-x1)+sqrt(y2-y1))<=r1+r2:
            print("true")
        else:
            print("false")
collision(0,0,3,0,5,3)

true

# problem 3.40

In [35]:
def partition(names):
    for word in names:
        if word[0] >= "A" and word[0] <= "M":
            print(word)
partition(['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin'])

Eleanor
Evelyn
Gavin

# problem 3.41

In [62]:
def lastF(firstname,lastname):
    print((lastname),firstname[0])
lastF('Turoob','Idrees')

Idrees T

# problem 3.42

In [72]:
def avg(nums):
    for i in nums:
        for k in i:
            per=(k/400)*100
            print(per,end='\t')
avg([[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]])

23.75	23.0	21.5	21.75	16.5	13.5	22.25	18.0	25.0	8.25	0.0	0.0

# problem 3.43

In [73]:
def hit(xc,yc,r,xp,yp):
    D=sqrt((xp-xc)**2 +(yp-yc)**2)
    if D<r or D==r:
        print("true")
    else:
        print("false")
hit(0,0,3,3,0)

true

# problem 3.44

In [76]:
def distance(velocity,time):
    D=velocity*time
    d=D/1000
    print(d)
distance(340.29,3)

1.0208700000000002

# Exercises

# 3.1

In [1]:
fahrenheit = eval(input( 'Enter the temperature in degrees Fahrenheit: ' ))
print( 'The temperature in degrees Celsius is' , (5/9)*(fahrenheit - 32))

Enter the temperature in degrees Fahrenheit: 65
The temperature in degrees Celsius is 18.333333333333336

# 3.2

In [4]:
#a
age=eval(input("enter the age:"))
if age>62:
    print("you can get your pension benefits")

    
#b
list=['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth']
if 'Musial'in list:
    print("one of the top 5 baseball player ever!")
    
    
#c
hits=eval(input("enter the no of hits:"))
sheild=eval(input("enter the sheild:"))
if hits>10 and sheild is 0:
    print("You are dead...")
    
    
#d
bool=['north','south','east','west']
if 'north' in bool:
    print("i can escape")

enter the age:6
one of the top 5 baseball player ever!
enter the no of hits:12
enter the sheild:0
You are dead...
i can escape

# 3.3

In [5]:
year=eval(input("enter the year:"))
if year%4:
    print('could be a leap year')
else:
    print('better luck next time')

enter the year:2019
could be a leap year

# 3.4

In [7]:
login= input("enter the login id:")
list=['joe', 'sue', 'hani', 'sophie']
if login in list:
    print('you are a valid user')
else:
    print('user unknown')
print('done')

enter the login id:hani
you are a valid user
done

# 3.5

In [1]:
word_list =eval(input("Enter word list: "))
for word in word_list:
    if len(word) == 4:
        print(word,end='\t')

Enter word list: 'stop','desktop','delete','print'
stop

# 3.6

In [3]:
for i in range(10):
    print(i,end='\t')

0	1	2	3	4	5	6	7	8	9

In [4]:
for i in range(2):
    print(i)

0
1

# 3.7

In [5]:
for i in range(3 ,13):
    print(i,end='\t')

3	4	5	6	7	8	9	10	11	12

In [6]:
for i in range(0, 10, 2):
    print(i,end='\t')

0	2	4	6	8

In [7]:
for i in range(0 , 24, 3):
    print(i,end='\t')

0	3	6	9	12	15	18	21

In [8]:
for i in range(3 ,12 , 5):
    print(i)

3
8

# 3.8

In [14]:
from math import *
def perimeter(r):
    return 2*pi*r
perimeter(1)

6.283185307179586

In [15]:
perimeter(2)

12.566370614359172

# 3.9

In [16]:
def average(x,y):
#it will return average of two values
    return (x+y)/2
average(2,3)

2.5

In [17]:
average(25,8)

16.5

# 3.10

In [18]:
def allEven(list_num):
    for num in list_num:
        if num %2 != 0:
            return False
    return True
allEven([8, 0 , -2, 4, -6, 10])

True

In [19]:
allEven([2,3,4,1,2,-2])

False

# 3.11

In [21]:
def negatives(neg_num):
#this will take negative value in list and return one per line
    for i in neg_num:
        if i < 0:
            print(i)
negatives([4,0,-1,-3,6,-9])

-1
-3
-9

# 3.12

In [23]:
def f(x,s):
    if s=='square':
        return x**2
    else:
        return x**3
f(4,'square')

16

# 3.13

In [24]:
def swap_teams(list_team):
    list_team[0],list_team[-1] = list_team[-1], list_team[0]
    return list_team
swap_teams(['ava','eleanor', 'clare', "sarah"])

['sarah', 'eleanor', 'clare', 'ava']

# 3.14

In [25]:
eval("2*3+1")

7

In [26]:
eval("'hello' + ' ' + 'world'")

'hello world'

In [27]:
eval("'ASCII'.count('I')")

2

# 3.15

In [28]:
a=3
b=4
c=5
if a<b:
    print('ok')
if c<b:
    print('ok')
if a+b==c:
    print('ok')
if a**2+b**2==c**2:
    print('ok')

ok
ok

# 3.16

In [29]:
a=3
b=4
c=5
if a<b:
    print('ok')
else:
    ('not ok')
if c<b:
    print('ok')
else:
    print('not ok')
if a+b==c:
    print('ok')
else:
    print('not ok')
if a**2+b**2==c**2:
    print('ok')

ok
not ok
not ok
ok

# 3.17

In [30]:
lst = ["January", "February", "March"]
for word in lst:
    print(word[:3])

Jan
Feb
Mar

# 3.18

In [31]:
lst = [2, 3, 4, 5, 6, 7, 8, 9]
for x in lst:
    if x%2 == 0:
        print(x,end='\t')

2	4	6	8

# 3.19

In [32]:
lst = [2, 3, 4, 5, 6, 7, 8, 9]
for x in lst:
    if (x**2)%8 == 0:
        print(x)

4
8

# 3.20

In [33]:
for i in range(2):
    print(i, end=" ")
for i in range(1):
    print(i, end=" ")
for i in range(3,7):
    print(i, end= " ")
for i in range(1,2):
    print(i, end=" ")
for i in range(4):
    print(i, end =" ")
for i in range(5, 22, 4):
    print(i, end= " ")

0 1 0 3 4 5 6 1 0 1 2 3 5 9 13 17 21